/* ボックスサイズのルール */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* デフォルトのマージンとパディングを削除 */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* リスト役割を持つul, ol要素のリストスタイルを削除 */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* ルート要素の基本設定 */
html:focus-within {
  scroll-behavior: smooth;
}

/* body要素の基本設定 */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* クラスを持たないa要素のデフォルトスタイル */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* 画像の扱いを改善 */
img,
picture {
  max-width: 100%;
  display: block;
}

/* 入力要素とボタンのフォントを継承 */
input,
button,
textarea,
select {
  font: inherit;
}

/* アニメーション、遷移、スムーズスクロールの削除（ユーザー設定に基づく） */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}